<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="cancelURL" value="http://localhost:1101/cancelOrder.aspx"/>
    <add key="sslEnabled" value="1"/>

    <add key="token" value="PW1BDVNqVPVanwduF_Tb2Ey91aT1Uhx1kL7HPc-7e8S-6AnUwSSHyasolSe"/>
    <add key="paypalemail" value="simran21319-facilitator@gmail.com"/>

    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>

    <add key="FailedURL" value="http://localhost:1101/cancelOrder.aspx"/>

    <add key="SuccessURL" value="http://localhost:1101/SuccessOrder.aspx"/>

  </appSettings>

  <connectionStrings>
    <add name="NurseryConnection" connectionString="Integrated Security=true;Initial Catalog=shooping;Data Source=RMS-DELL\SQLEXPRESS" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="yousmtpserver" port="25" userName="username" password="password" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
